$color-sections: (
    normal: (superior: #212529,
        mitad: #000000,
        inferior: #393939),
    eventos: (superior: #0180ff,
        mitad: #414141,
        inferior: #3b1a79),
    hotsale: (superior: #654114,
        mitad: #5e5824,
        inferior: #3828a2)
);
