@use "../base/tipografia";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-family: tipografia.$tipografia;
    color: #ffffff;
    background-color: black;
}



.kenburns-left {
    -webkit-animation: kenburns-left 4s cubic-bezier(0.950, 0.050, 0.795, 0.035) 1s reverse both;
    animation: kenburns-left 4s cubic-bezier(0.950, 0.050, 0.795, 0.035) 1s reverse both;
}

@-webkit-keyframes kenburns-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 50%;
        transform-origin: 16% 50%;
    }

    100% {
        -webkit-transform: scale(1.25) translate(-20px, 15px);
        transform: scale(1.25) translate(-20px, 15px);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}

@keyframes kenburns-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 50%;
        transform-origin: 16% 50%;
    }

    100% {
        -webkit-transform: scale(1.25) translate(-20px, 15px);
        transform: scale(1.25) translate(-20px, 15px);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}